<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<html>
<head>
<title>Surf Check!!!!!</title>
</head>
<body>
<h1>Surf Check - Hell Yeah!!!!</h1>
<li>--------------------------------------------
<li> Norcal Surf is always epic, get out there 
<li>--------------------------------------------
{% for spot in spots %}
	<div>
	<h2>Swell Rerport for BlahBlahBlah</h2>
	<li>---------------------------------------------
	<li>Day		AM 		PM
	<li>---------------------------------------------
	{% for line in spot %}
	<li>{{ line }}
	{% endfor %}
	</div><br>
{% endfor %}
<p> Last update: {{ last_update }} </p>
</body>
</html>
