<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<html>
<head>
<title>Surf Check!!!!!</title>
</head>
<body>
<h1>Surf Check - Hell Yeah!!!!</h1>
<li>--------------------------------------------
<li> Norcal Surf is always epic, get out there 
<li>--------------------------------------------
{% for spot, conditions in spots.iteritems() %}
	<div>
	<h2>Swell Rerport for {{ spot }}</h2>
	<table>
	<tr>
	  <th>Day</th>
	  <th>AM</th>
	  <th>PM</th>
	</tr>
	{% for line in conditions %}
	<tr>
	  {% for item in line %}
	  <td>{{ item }}</td>
	  {% endfor %}
	</tr>
	{% endfor %}
	</table>
	</div><br>
{% endfor %}
<p> Last update: {{ last_update }} </p>
</body>
</html>
